

/* md */
@media (min-width: 640px) {
  /* layout  */
  body {
    background-image: url("/images/site/small_check.jpg");
    background-size: contain; 
    background-repeat: repeat-y;
    background-position: center;
    height: 100vh;
    width: 100%;
    padding-block: 1rem;
    padding-inline: 2.5rem;
  }

  /* main  */

  main {
    background-color: white;
    padding: 0.5rem;
    margin-bottom: 5rem;
    border: solid 3px var(--clr-cyan);
    border-radius: 5px;
  }
  
  
  }
  




/* md */
@media (min-width: 768px) {
  /* layout  */
  body {
    background-image: url("/images/site/small_check.jpg");
    background-size: contain; /* Adjusts how the image fits */
    background-repeat: repeat-y; /* Prevents tiling */
    background-position: center;
    height: 100vh;
    width: 100%;
    padding-block: 1rem;
    padding-inline: 3.5rem;
    }

    .section2-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      grid-template-areas: "reviews upgrade-content";
    }
    
    .upgrade-content {
      grid-area: reviews;
      width: 100%;
      box-sizing: border-box;
    }
    
    .reviews {
      grid-area: upgrade-content;
      width: 100%;
      box-sizing: border-box;
    }

  nav ul {
    display: flex;
    justify-content: space-around;
    padding-inline: 4rem;
  }

}

/* lg */
@media (min-width: 1024px) {
  /* layout  */
  body {
    background-image: url("/images/site/small_check.jpg");
    background-size: cover; /* Adjusts how the image fits */
    background-repeat: repeat-y; /* Prevents tiling */
    background-position: center;
    height: 100vh;
    width: 100%;
    padding-block: 1rem;
    padding-inline: 4.5rem;
  }
}
